<div  *ngIf="control" class="position-relative mb-3" [class.mb-0]="noMarginBottom">
  <app-reactive-label *ngIf="label"
                      [label]="label"
                      [fieldId]="fieldId"
                      [tooltip]="tooltip"
                      [hasRequiredIndicator]="hasRequiredIndicator">
  </app-reactive-label>
  <nz-form-item>
    <nz-form-control [nzValidateStatus]="validationErrors ? 'error' : null">
      <nz-time-picker class="w-100"
                      [nzId]="fieldId"
                      [formControl]="control">
      </nz-time-picker>
    </nz-form-control>
  </nz-form-item>
  <app-validation-message *ngIf="!noValidationMark && !noValidationMessage"
                          [validationErrors]="validationErrors">
  </app-validation-message>
</div>
