<button nz-button
        class="ml-auto"
        [disabled]="isDisabled"
        (click)="isPreviewModalVisible = true">
  Предпросмот
</button>

<nz-modal [nzFooter]="null"
          [nzTitle]="questionnaire?.name"
          [nzStyle]="{top: '20px'}"
          [nzWidth]="1200"
          [(nzVisible)]="isPreviewModalVisible"
          (nzOnCancel)="isPreviewModalVisible = false">
  <ng-template nzModalContent>
    <div class="row">
      <app-reactive-field *ngFor="let field of questionnaire?.fields"
                          [ngClass]="'col-md-' + field.col"
                          [field]="field">
      </app-reactive-field>
    </div>
  </ng-template>
</nz-modal>
