<div  *ngIf="control" class="position-relative mb-3" [class.mb-0]="noMarginBottom">
  <app-reactive-label *ngIf="label"
                      [label]="label"
                      [fieldId]="fieldId"
                      [tooltip]="tooltip"
                      [hasRequiredIndicator]="hasRequiredIndicator">
  </app-reactive-label>
  <nz-form-item class="mb-0">
    <nz-form-control [nzValidateStatus]="validationErrors ? 'error' : null">
      <nz-date-picker nzFormat="dd.MM.yyyy"
                      class="w-100"
                      [nzId]="fieldId"
                      [formControl]="control"
                      (nzOnOpenChange)="!$event && control.markAsTouched()">
      </nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <app-validation-message *ngIf="!noValidationMark && !noValidationMessage"
                          [validationErrors]="validationErrors">
  </app-validation-message>
</div>
