<ng-container *ngIf="controlValueChanges$ | async"></ng-container>

<div *ngIf="control"
     class="form-group position-relative"
     [class.mb-0]="noMarginBottom"
     [class.d-flex]="isInlineMode">
  <app-reactive-label *ngIf="label"
                      [label]="label"
                      [fieldId]="fieldId"
                      [tooltip]="tooltip"
                      [hasRequiredIndicator]="hasRequiredIndicator">
  </app-reactive-label>
  <nz-form-item class="w-100">
    <nz-form-control [nzValidateStatus]="validationErrors ? 'error' : null">
      <nz-select nzShowSearch
                 nzNotFoundContent="Нет данных"
                 class="w-100"
                 [nzLoading]="isLoading"
                 [nzAllowClear]="!noClear"
                 [id]="fieldId"
                 [formControl]="control"
                 [nzPlaceHolder]="placeholder || 'Выберите'">
        <nz-option *ngFor="let item of options"
                   [nzLabel]="item.label"
                   [nzValue]="item.value"
                   [nzDisabled]="item.disabled">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <app-validation-message *ngIf="!noValidationMark && !noValidationMessage"
                          [validationErrors]="validationErrors">
  </app-validation-message>
</div>
