<ng-container *ngIf="createQuestionnaire$ | async"></ng-container>

<div class="d-flex mb-3">
  <h6>Форма создания опросника</h6>
  <app-questionnaire-preview class="ml-auto"
                             [isDisabled]="fg.invalid"
                             [questionnaire]="fg.value">
  </app-questionnaire-preview>
  <button nz-button nzType="primary"
          class="ml-2"
          [nzLoading]="isCreateQuestionnaireLoading"
          (click)="onCreateQuestionnaire()">Создать опросник
  </button>
</div>
<div class="row">
  <app-reactive-text-area class="col-md-4"
                          fieldId="name" label="Название опросника"
                          [control]="fg.controls.name">
  </app-reactive-text-area>
  <app-reactive-text-area class="col-md-8"
                          fieldId="description" label="Описание опросника"
                          [control]="fg.controls.description">
  </app-reactive-text-area>
</div>
<ng-container *ngFor="let section of fg.controls.sections['controls'] let first = first let index = index"
              [ngTemplateOutlet]="sectionTmp"
              [ngTemplateOutletContext]="{section: section, first: first, sectionIndex: index}">
</ng-container>
<button nz-button class="mt-3" (click)="fg.controls.sections['push'](sectionFg)">Добавить секцию</button>


<ng-template #sectionTmp let-section="section" let-first="first" let-sectionIndex="sectionIndex">
  <div class="animated fadeIn position-relative bg-light p-3 my-2">
    <h6>Секция</h6>
    <button *ngIf="!first"
            nz-button nzDanger nzSize="small"
            style="right: 16px; top: 12px"
            class="position-absolute btn-outline-danger"
            (click)="fg.controls.sections['removeAt'](sectionIndex)">
      <i nz-icon nzType="delete"></i> Удалить секцию
    </button>
    <div class="row">
      <app-reactive-text-area class="col-md-4" label="Название секции"
                              [fieldId]="'sections_' + sectionIndex + '_name'"
                              [control]="section.controls.name">
      </app-reactive-text-area>
      <app-reactive-text-area class="col-md-8" label="Описание секции"
                              [fieldId]="'sections_' + sectionIndex + '_description'"
                              [control]="section.controls.description">
      </app-reactive-text-area>
    </div>
    <ng-container *ngFor="let field of section.controls.fields['controls'] let first = first let index = index"
                  [ngTemplateOutlet]="fieldTmp"
                  [ngTemplateOutletContext]="{field: field, first: first, fieldIndex: index}">
    </ng-container>
    <button nz-button class="mt-3" (click)="section.controls.fields['push'](fieldFg)">Добавить поле</button>
  </div>
  <ng-template #fieldTmp let-field="field" let-first="first" let-fieldIndex="fieldIndex">
    <div class="animated fadeIn position-relative">
      <nz-divider nzText="Поле" nzOrientation="left"></nz-divider>
      <button *ngIf="!first"
              nz-button nzDanger nzSize="small"
              style="right: 50px; top: 0"
              class="position-absolute btn-outline-danger"
              (click)="section.controls.fields['removeAt'](fieldIndex)">
        <i nz-icon nzType="delete"></i> Удалить поле
      </button>
      <div class="row">
        <app-reactive-input class="col-md-4" label="Лейбл поля"
                            [fieldId]="'sections_' + sectionIndex + '_fields_' + fieldIndex + '_label'"
                            [control]="field.controls.label">
        </app-reactive-input>
        <app-reactive-input class="col-md-4" label="Плейсхолдер поля"
                            [fieldId]="'sections_' + sectionIndex + '_fields_' + fieldIndex + '_placeholder'"
                            [control]="field.controls.placeholder">
        </app-reactive-input>
        <app-reactive-select class="col-md-4" label="Доля поля в строке"
                             [fieldId]="'sections_' + sectionIndex + '_fields_' + fieldIndex + '_col'"
                             [control]="field.controls.col"
                             [options]="colOptions">
        </app-reactive-select>
        <app-reactive-select class="col-md-4" label="Тип поля"
                             [fieldId]="'sections_' + sectionIndex + '_fields_' + fieldIndex + '_type'"
                             [control]="field.controls.type"
                             [options]="typeOptions">
        </app-reactive-select>
        <ng-container [ngSwitch]="field.controls.type.value">
          <ng-container *ngSwitchCase="'input'" [ngTemplateOutlet]="inputTmp"></ng-container>
          <ng-container *ngSwitchCase="'text-area'" [ngTemplateOutlet]="textAreaTmp"></ng-container>
        </ng-container>
      </div>
    </div>
    <ng-template #inputTmp>
      <app-reactive-input class="col-md-8"
                          fieldId="maxLength" label="Максимальная длина"
                          [control]="field.controls.maxLength">
      </app-reactive-input>
    </ng-template>
    <ng-template #textAreaTmp>
      <app-reactive-input class="col-md-4"
                          fieldId="minRows" label="Минимальная высота (количество строк)"
                          [control]="field.controls.minRows">
      </app-reactive-input>
      <app-reactive-input class="col-md-4"
                          fieldId="maxRows" label="Максимальная высота (количество строк)"
                          [control]="field.controls.maxRows">
      </app-reactive-input>
    </ng-template>
  </ng-template>
</ng-template>
