<ng-container *ngIf="tickets$ | async"></ng-container>
<ng-container *ngIf="valueChanges$ | async"></ng-container>

<ng-container *ngIf="isTicketsLoading"><i nz-icon nzType="loading"></i> Loading ...</ng-container>
<ng-container *ngIf="!isTicketsLoading">
  <div class="mb-2">
    <button nz-button
            class="btn-outline-primary"
            (click)="isModalVisible = true">Новое обращение
    </button>
  </div>
  <nz-table #basicTable
            nzBordered nzSize="small"
            nzNoResult="Нет данных для отображения"
            [nzData]="tickets">
    <thead>
    <tr>
      <th style="width: 20px">#</th>
      <th style="width: 50px">Категория</th>
      <th>Дата</th>
      <th>Телефон</th>
      <th>Нарушение</th>
      <th>Информатор</th>
      <th>Контакты</th>
      <th>Описание</th>
      <th>Полное описание</th>
      <th>Вовлеченное подразделение</th>
      <th>Вовлеченные лица</th>
      <th>Информированные лица</th>
      <th>Доказательства</th>
      <th>Информация</th>
      <th>Дата репорта</th>
      <th>Реакция на инцидент</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ticket of basicTable.data" class="align-baseline">
      <td class="text-nowrap">{{ ticket.id }} / {{ticket.uniqueNumber}}</td>
      <td>{{ ticket.category }}</td>
      <td>{{ ticket.date }} ({{ ticket.time }})</td>
      <td>{{ticket.link}}</td>
      <td>{{ticket.violation}}</td>
      <td>{{ticket.informer}}, {{ticket.informerPosition}}</td>
      <td>{{ticket.informerContacts}}</td>
      <td>{{ticket.shortDescription}}</td>
      <td><p nz-typography nzEllipsis nzExpandable [nzEllipsisRows]="5">{{ticket.fullDescription}}</p></td>
      <td>{{ticket.involvedDepartment}}</td>
      <td>{{ticket.involvedPersons}}</td>
      <td>{{ticket.informedPersons}}</td>
      <td>{{ticket.evidences}}</td>
      <td>{{ticket.additionalInformation}}</td>
      <td>{{ticket.ticketDateSent}}</td>
      <td>{{ticket.companyActions}}</td>
    </tr>
    </tbody>
  </nz-table>
</ng-container>


<nz-modal nzTitle="Новое обращение"
          nzOkText="Добавить"
          [nzStyle]="{top: '20px'}"
          [nzWidth]="1200"
          [(nzVisible)]="isModalVisible"
          (nzOnCancel)="closeModal()"
          (nzOnOk)="onSubmitTicket()">
  <form *nzModalContent [formGroup]="ticketFg" class="row" (ngSubmit)="onSubmitTicket()">
    <app-reactive-input fieldId="category" label="Категория" class="col-4" [control]="ticketFg.controls.category"></app-reactive-input>
    <app-reactive-date-picker fieldId="date" label="Дата" class="col-4" [control]="ticketFg.controls.date"></app-reactive-date-picker>
    <app-reactive-input fieldId="time" label="Время" class="col-4" [control]="ticketFg.controls.time"></app-reactive-input>
    <app-reactive-input fieldId="link" label="Телефон" class="col-4" [control]="ticketFg.controls.link"></app-reactive-input>
    <app-reactive-input fieldId="violation" label="Нарушение" class="col-4" [control]="ticketFg.controls.violation"></app-reactive-input>
    <app-reactive-input fieldId="informer" label="Информатор" class="col-4" [control]="ticketFg.controls.informer"></app-reactive-input>
    <app-reactive-input fieldId="informerPosition" label="Должность информатора" class="col-4" [control]="ticketFg.controls.informerPosition"></app-reactive-input>
    <app-reactive-input fieldId="informerContacts" label="Контакты информатора" class="col-4" [control]="ticketFg.controls.informerContacts"></app-reactive-input>
    <app-reactive-input fieldId="shortDescription" label="Краткое описание" class="col-4" [control]="ticketFg.controls.shortDescription"></app-reactive-input>
    <app-reactive-input fieldId="fullDescription" label="Полное описание" class="col-4" [control]="ticketFg.controls.fullDescription"></app-reactive-input>
    <app-reactive-input fieldId="involvedDepartment" label="Вовлеченное подразделение" class="col-4" [control]="ticketFg.controls.involvedDepartment"></app-reactive-input>
    <app-reactive-input fieldId="involvedPersons" label="Вовлеченные лица" class="col-4" [control]="ticketFg.controls.involvedPersons"></app-reactive-input>
    <app-reactive-input fieldId="informedPersons" label="Информированные лица" class="col-4" [control]="ticketFg.controls.informedPersons"></app-reactive-input>
    <app-reactive-input fieldId="evidences" label="Доказательства" class="col-4" [control]="ticketFg.controls.evidences"></app-reactive-input>
    <app-reactive-input fieldId="additionalInformation" label="Информация" class="col-4" [control]="ticketFg.controls.additionalInformation"></app-reactive-input>
    <app-reactive-input fieldId="ticketDateSent" label="Дата репорта" class="col-4" [control]="ticketFg.controls.ticketDateSent"></app-reactive-input>
    <app-reactive-input fieldId="companyActions" label="Реакция на инцидент" class="col-4" [control]="ticketFg.controls.companyActions"></app-reactive-input>
  </form>
</nz-modal>
