<app-request-wrapper #dictionariesRs [request$]="dictionaries$">
  <nz-layout style="min-height: 100vh" class="layout">
    <nz-header class="d-flex align-items-center">
      <nz-tabset nzLinkRouter [nzLinkExact]="false">
        <nz-tab><a *nzTabLink nz-tab-link [routerLink]="['tickets']">Обращения</a></nz-tab>
        <nz-tab><a *nzTabLink nz-tab-link [routerLink]="['timesheet']">Расписание</a></nz-tab>
        <nz-tab><a *nzTabLink nz-tab-link [routerLink]="['analysis']">Аналитика</a></nz-tab>
      </nz-tabset>
    </nz-header>
    <nz-content class="p-3">
      <router-outlet *ngIf="dictionariesRs.data"></router-outlet>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</app-request-wrapper>
